
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Equipes</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Nom d'equipe</th>
                  <th>Chef d'equipe</th>
                  <th>Departement</th>
                  <th>Membres</th>
                  <th class="text-center">Actions</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let equipe of equipes">
                  <td>{{equipe.nomEquipe}}</td>
                  <td>{{equipe.chefEquipe}}</td>
                  <td>{{equipe.departement}}</td>
                  <td> </td>
                  <td class=" td-actions text-right">
                  <button style="font-size: 1.5rem; color: aliceblue; " class=" btn btn-link" type="button" placement="left" ngbTooltip="Edit Task" container="body" >
                    <i class=" tim-icons icon-pencil"> </i>
                  </button>
               
                  <button style="font-size: 1.5rem; color: aliceblue;" class=" btn btn-link" type="button" placement="left" ngbTooltip="Remove" container="body" >
                    <i (click)="deleteEquipe(equipe.id)" class=" tim-icons icon-trash-simple"> </i>
                  </button>
                  </td>
                </tr>
               
             
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 